*, *:focus {
  outline: 0 none;
  border: 0 none;
}

body {
  background: #2a2a2a;
  color: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a00;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #212121;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-control, .form-control:focus {
  background-color: #1a1a1a;
  border: 0px solid #ffffff;
}


.btn, .btn:focus, .btn:hover {
  margin-left: 40%;
  background-color: #8e8e8e;
  color: #000000;
  font-weight: bold; 
  outline-style:solid;
  box-shadow: 0 0 0 0px #5a01a7;
}

.btn:hover, .btn:active {
  background-color: #ffe700;
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 0px #5a01a7;
}

input, input:focus, textarea:focus {
  margin: 10px;
  outline: none;
  box-shadow: none !important;
}

legend {
  margin-left: 30%;
}