{% extends 'album_guesser/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ album.name }}</a>
                <small class="text-muted">{{ album.artist }}</small>
            </div>
            <p class="article-content">{{ album.image }}</p>
        </div>
    </article>

    <form method="POST">
        {% csrf_token %} 
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Make Your Guess</legend>
            <!-- {{ form|crispy }} -->
            <input id="artist" name="artist" type="text" list="artists" class="form-control">
                <datalist id="artists">
                    {% for artist in artists %}
                        <option>{{ artist }}</option>
                    {% endfor %}
                </datalist>
            <input id="album" name="album" type="text" list="albums" class="form-control">
                <datalist id="albums">
                    {% for album in albums %}
                        <option>{{ album }}</option>
                    {% endfor %}
                </datalist>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Guess</button>
        </div>
    </form>
{% endblock content %}
