{% extends 'album_guesser/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ album.name }}</a>
                <small class="text-muted">{{ album.artist }}</small>
            </div>
            <p class="article-content">{{ album.image }}</p>
        </div>
    </article>

    <form method="POST">
        {% csrf_token %} 
        <fieldset class="form-group">
            <legend>X Guesses Left</legend>
            <!-- {{ form|crispy }} -->
            <input id="artist_field" name="artist" type="text" list="artists_dropdown" class="form-control shadow-none" placeholder="Artist">
                <datalist id="artists_dropdown">
                    {% for artist in artists %}
                        <option>{{ artist }}</option>
                    {% endfor %}
                </datalist>
            <input id="album_field" name="album" type="text" list="albums_dropdown" class="form-control shadow-none" placeholder="Album">
                <datalist id="albums_dropdown">
                    {% for album in albums %}
                        <option>{{ album }}</option>
                    {% endfor %}
                </datalist>
        </fieldset>
        <div class="form-group">
            <button class="btn" type="submit">Guess</button>
        </div>
    </form>
{% endblock content %}
